#contail-profil-personne {
  width: 100%;
  height: 100vh;
  color: var(--color-white);
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
  background-position: center center;
}



h1{
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: 2.4em;
  text-shadow:
  1px 1px 0 #0FA47A,
  1px -1px 0 #0FA47A,
  -1px 1px 0 #0FA47A,
  -1px -1px 0 #0FA47A,
  1px 0px 0 #0FA47A,
  0px 1px 0 #0FA47A,
  -1px 0px 0 #0FA47A,
  0px -1px 0 #0FA47A;
  margin-bottom: 16px;
}

svg{
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-left: 10px;
}

#contain-musicien{
  width: 100%;
  height: 30%;
  margin-top: 90%;
}

#contail-profil-personne p img {
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.p-line {
    background-color: #0fa47add;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    font-size: large;
}

.p-vert{
  background-color: #0fa47add;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

.shadow{
    text-shadow:
    2px 2px 0 var(--color-black),
    2px -2px 0 var(--color-black),
    -2px 2px 0 var(--color-black),
    -2px -2px 0 var(--color-black),
    2px 0px 0 var(--color-black),
    0px 2px 0 var(--color-black),
    -2px 0px 0 var(--color-black),
    0px -2px 0 var(--color-black);
}

#contain-bouton-bas{
    margin-top: calc(100vh - 220px);
}

.carte {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}

#contail-profil-personne2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color:#262626;
  color: white;
  border-radius: 10px;
  border: solid;
  border-color: #0b8865;
  box-shadow: 0 4px 24px rgba(12, 12, 12, 12);
  padding: 20px;
}

#contail-profil-personne2 button{
  margin-top: 30px;
}

h2{
  font-size: 1.6em;
  text-align: center;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #0FA47A;
  color: #ffffff;
  font-size: 16px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #0b8865;
}
