<div id="contain-nav">
  <h2>{{ musicienPseudo }}</h2>
    <nav id="nav-haut">
        <div *ngFor="let button of buttons">
          <ul>
            <li>
              <a [routerLink]="button.routerLink" routerLinkActive="active" (click)="toggleButton(button.id)">
                <ng-container *ngIf="selectedButton !== button.id">
                  <img [src]="button.image1" alt="Image 1" class="nav-img">
                </ng-container>

                <ng-container *ngIf="selectedButton === button.id">
                  <img [src]="button.image2" alt="Image 2" class="nav-img">
                </ng-container>
              </a>
            </li>
          </ul>
        </div>
    </nav>
</div>
