:root{

    --color-black: #333333;
    --color-white: #F5F5F5;
    --color-green: #0FA47A;
}
#contain-nav{
    width: 100vw;
    height: 100%;
    margin-top: 40px;
}
#nav-haut{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: transparent;
}


.nav-img{
    width: 65px;
    height: 65px;
}
