<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"
/>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid"> <!-- Je précise déjà les routes que je pense créer -->
        <!-- NB : il s'agit bien d'utiliser les routes d'Angular --> <!-- L'attribut est donc : routerLink --> <a
            class="navbar-brand" routerLink="/home">Groove Street</a> <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"> <!-- Idem ici --> <a class="nav-link" routerLink="/Grooving">Groove</a> </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"> <!-- Idem ici --> <a class="nav-link" routerLink="/Bio">Profil</a> </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"> <!-- Idem ici --> <a class="nav-link" routerLink="/Grooves">Chats</a> </li>
            </ul>
        </div>
    </div>
</nav>