:root{

    --color-black: #333333;
    --color-white: #F5F5F5;
    --color-green: #0FA47A;
}
#contain-nav{
    width: 100vw;
    margin-top: 40px;
    height: 70px;
}
#nav-haut{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: transparent;
}


.nav-img{
    width: 65px;
    height: 65px;
}

h2{
    text-align: center;
    color: #fff;
    font-size: 1rem;
}
