<div id="contain-register">
    <a routerLink="/home">
        <div class="img-logo">
            <img src="/assets/img/logosite.png" id="logosite" alt="Groove Street">
        </div>
    </a>
    <h1>Completez vos informations</h1>
    <form [formGroup]="formMusicien" (ngSubmit)="onSubmit()">
        <div *ngIf="formMusicien.get('confirmPassword')?.hasError('verifPassword')" class="erreur">
            Les champs de mot de passe ne correspondent pas.
        </div>
        <div class="group">
            <label for="nom" class="label">Pseudo :</label>
            <input id="nom" type="text" name="nom" formControlName="nom" placeholder="Nom d'utilisateur">
            <!-- <span class="text-red-400 text-sm">{{ $message }}</span> -->
        </div>

        <div class="group">
            <label for="email" class="label">Email :</label>
            <input id="email" type="email" name="email" placeholder="Votre email" formControlName="email">
            <!-- <span class="text-red-400 text-sm">{{ $message }}</span> -->
        </div>
        <div class="group">
            <label for="password" class="label">Password</label>
            <input id="password" type="password" name="password" placeholder="Votre mot de passe"
                formControlName="password">
            <!-- <span class="text-red-400 text-sm">{{ $message }}</span> -->
        </div>

        <div class="group">
            <label for="confirmPassword" class="label">Confirm password :</label>
            <input id="confirmPassword" type="password" name="confirmPassword" formControlName="confirmPassword"
                class="shadow border rounded w-full p-2" placeholder="Retapez votre mot de passe">
        </div>

        <div class="group">
            <button type="submit" class="btnFull">Créer mon compte</button>
            <button routerLink="/login" class="btnFull">Déja membre</button>
        </div>
    </form>

</div>