h1,h2{
    text-align: center;
    color: white;
}

.selection{
    color: white;
}

  

.hello-photo {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid;
    border-width: 4px;
    border-color:#0FA47A;
    margin: 20px auto;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    max-width: 400px;
    padding: 20px;
    background-color: #0FA47A;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: solid;
    border-color: white;
  }
  
  .form-container form {
    text-align: center;
    
    
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    
  }
  
  .form-container input[type="file"] {
    margin-bottom: 20px;
  }
  .form-container input[routerLink="/home"] {
    display: block;
    margin: 0 auto;
    text-align: center;
}