<div id="liste-contacts">
  <h2>Your Grooves</h2>
  <div id="contain-messages">
    <div *ngFor="let message of messages">
      <a [routerLink]="['/messages', message.id]">
        <div id="contain-texte">
          <div class="img-logo">
            <img [src]="cheminPhotos + message.photo" id="logosite" alt="Groove Street">
          </div>
          <div id="contain-bloc-message">
            <div id="texte-message">
              {{ message.nom }}
            </div>
            <div id="texte-message">
              {{ message.message }}
            </div>
            <div id="texte-date">
              Il y a {{ message.tempsDepuis }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>