#accueil{
    margin: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#accueil button{
    margin: 10px;
    width: 20vw;
    height: auto;
    border-radius: 15px;
    border: none;
    background-color:  #0FA47A;
    transition: ease-in-out;
    font-weight: bold;
    font-size: 1.2em;
}

#accueil button:hover{
    background-color: #f5f5f5;
    color:#333333;
    transition: ease-in-out;
}

#titre{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: auto;
    width: 25vw;
}

p,h1,h3{
    margin: 15px;
    color: aliceblue;
    font-size: 1.2em;
}
