<div id="accueil">
  <div *ngIf="!isAuthenticated; else elseBlock">

    <img class="hello-logo" src="assets/img/logosite.png" alt="GROOVESTREET">
    <h1> Qui sommes nous?</h1>
    <p>Delphine, Souleymane & Titouan: Developpeurs Full Stack</p>
    <h3>Notre objectif :</h3>
    <p>Creer des connexions entre musiciens et faciliter la création de groupes de musique</p>
    <p>Vous devez devenir membre pour bénéficier de nos services</p>

    <button routerLink="/login" class="btnOne">Connexion</button>
    <button routerLink="/register" class="btnOne">Inscription</button>

  </div>

<ng-template #elseBlock>
    <div >
      <div>
        <p>Hello {{ pseudoMusicien }} ! </p>
        <div class="hello-photo" [ngStyle]="{ 'background-image': 'url(' + photoMusicien + ')'}"></div>
      </div>

    <div class="shadow">
        <img src="/assets/img/settings.png" alt="settings" routerLink="/Settings">
    </div>
    <div class="shadow">
        <img src="/assets/img/logocamera.png" alt="add picture" routerLink="/Bio/EditPhoto">
    </div>
    <div class="shadow">
        <img src="/assets/img/edit.png" alt="edit profile" routerLink="/Bio">
    </div>
    <div class="logout-container">
        <button class="logout" (click)="logout()">Déconnexion</button>
    </div>
</div>
</ng-template>
