<h1>Paramètres du compte</h1>
    <form>
        
        <div class="group">
            <label for="text" class="label">Commune :</label>
            <input id="commune" type="text" name="commune" placeholder="{{ communeMusicien }}" formControlName="commune">
            <!-- <span class="text-red-400 text-sm">{{ $message }}</span> -->
        </div>
        <div class="group">
            <label for="nom" class="label">Code Postal :</label>
            <input id="nom" type="text" name="codePostal" formControlName="codePostal" placeholder="{{ codePostalMusicien }}">
        </div>
        <div class="group">
            <label for="nom" class="label">Age :</label>
            <input id="age" type="age" name="age" formControlName="age" placeholder="{{ ageMusicien }}">
        </div>
        <div class="group">
            <label for="email" class="label">E-mail :</label>
            <input id="email" type="email" name="email" placeholder="{{ emailMusicien}}" formControlName="email">
            <!-- <span class="text-red-400 text-sm">{{ $message }}</span> -->
        </div>
        <div class="group">
            <label for="password" class="label">Mot de passe :</label>
            <input id="password" type="password" name="password" placeholder="Votre mot de passe"
                formControlName="password">
            <!-- <span class="text-red-400 text-sm">{{ $message }}</span> -->
        </div>

        <div class="group">
            <label for="confirmPassword" class="label">Confirmez le mot de passe :</label>
            <input id="confirmPassword" type="password" name="confirmPassword" formControlName="confirmPassword"
                class="shadow border rounded w-full p-2" placeholder="Retapez votre mot de passe">
        </div>
        <div class="group">
            <label for="nom" class="label">Numéro de téléphone :</label>
            <input id="tel" type="tel" name="tel" formControlName="tel" placeholder="Votre numéro de téléphone">
        </div>

        <div class="group">
            <button  class="btnFull">Valider les modifications</button>
            <button id="deletion" class="btnFull">Supprimer le compte</button>
        </div>
    </form>
