#content-messages{
    border: 1px solid;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    padding: 50px;
}
button{
    background-color: lightseagreen;
    margin: 20px;
    width: 50px;
    height: 50px;
    color: aliceblue;
    font-size: 1.4rem;
    cursor: pointer;
}

input{
    height: 50px;
    width: 200px;
}