<h1>Discussion</h1>
<div class="container">

  <div class="wrapper">
    <div *ngFor="let message of chatService.messages" class="messages">
      <ul>
        <li class="user">
          <div class="user-message-container">
            {{ message }}
          </div>
        </li>
      </ul>
    </div>
    <div class="input">
      <form>
        <input  class ="form-control" type="text" [(ngModel)]="newMessage" (keydown.Enter)="sendMessage()" placeholder="Entrez votre message ici..." >
        <button  (click)="sendMessage()" class='Envoyer'>Envoyer</button>
      </form>
    </div>
  </div>
</div>