body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  h2{
    color: aliceblue;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    margin-bottom: 10px;
    color: aliceblue;
  }

  input[type="text"] {
    width: 50vw;
    height: 25vh;
  }

  input[type="submit"] {
    margin-top: 20px;
  }