<div id="contain-login">
    <div class="img-logo">
        <img src="/assets/img/logosite.png" id="logosite" alt="Groove Street">
    </div>

    <h1>Devenir membre</h1>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div *ngIf="errorsAuth" class="erreur">Erreur dans l'adresse email ou le password</div>
        <div class="group">
            <label for="email" class="label">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="email" type="email" name="email" formControlName="email" placeholder="Votre adresse email">
        </div>

        <div class="group">
            <label for="password" class="label">Password :</label>
            <input id="password" type="password" name="password" formControlName="password"
                placeholder="Votre mot de passe">
        </div>

        <div id="form-buttons group">
            <button type="submit" class="btnFull">Se connecter</button>
            <button routerLink="/register" class="btnFull">S'inscrire</button>
        </div>
    </form>

</div>